/*
 Crea una aplicación web que permita hacer listado, alta, baja y modificación sobre la tabla cliente
de la base de datos banco.
• Para realizar el listado bastará un SELECT, tal y como se ha visto en los ejemplos.
• El alta se realizará mediante un formulario donde se especificarán todos los campos del nuevo
registro. Luego esos datos se enviarán a una página que ejecutará INSERT.
• Para realizar una baja, se mostrará un botón que ejecutará DELETE.
• La modificación se realiza mediante UPDATE.
*/
/* 
    Created on : 03-nov-2016, 21:36:30
    Author     : Junior Castillo
*/

body {
  background-image: url(http://www.jonaga.com/imagenes/fondo%20pagina%20fijo.jpg);
  /*background-color: #125598;*/
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  text-align: center; }
  body #salir {
    position: absolute;
    left: 0px;
    width: 50px;
    opacity: 0.7; }
  body h1 {
    color: aliceblue; }
  body .Centrado {
    border: 1px solid red; }
  body .inputfile {
    width: 125px; }

table {
  margin-left: 1%;
  font-size: 90%;
  max-width: 100%;
  text-align: left;
  border-collapse: collapse; }
  table th {
    font-size: 100%;
    font-weight: normal;
    padding: 0.1% 0.2% 0.1% 0.9%;
    height: 10%;
    background: #cacaca;
    border-top: 4px solid #cacaca;
    border-bottom: 1px solid #fff;
    color: black; }
  table td {
    padding: 0.1% 0.1% 0.1% 0.1%;
    height: 10%;
    background: #807373;
    border-bottom: 1px solid #fff;
    color: #000000;
    border-top: 1px solid transparent; }
  table tr:hover td {
    background: #d0dafd;
    color: #339; }
  table a:link, table a:visited {
    background-color: #cacaca;
    font-weight: bold;
    padding: 15% 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block; }

#tableModi {
  font-size: 12px;
  width: 90%;
  text-align: left;
  border-collapse: collapse; }
  #tableModi th {
    font-size: 100%;
    font-weight: normal;
    padding: 0.1% 0.1% 0.1% 0.5%;
    height: 10%;
    background: #cacaca;
    border-top: 4px solid #cacaca;
    border-bottom: 1px solid #fff;
    color: black; }
  #tableModi td {
    padding: 0.1% 0.1% 0.1% 0.1%;
    height: 10%;
    background: #807373;
    border-bottom: 1px solid #fff;
    color: #000000;
    border-top: 1px solid transparent; }
  #tableModi tr:hover td {
    background: #d0dafd;
    color: #339; }

#vendedorTabla {
  margin-left: 25%;
  font-size: 100%;
  width: 50%;
  text-align: left;
  border-collapse: collapse; }
  #vendedorTabla th {
    font-size: 100%;
    font-weight: normal;
    padding: 0.1% 0.1% 0.1% 0.5%;
    height: 10%;
    background: #cacaca;
    border-top: 4px solid #cacaca;
    border-bottom: 1px solid #fff;
    color: black; }
  #vendedorTabla td {
    padding: 0.1% 0.1% 0.1% 0.1%;
    height: 10%;
    background: #807373;
    border-bottom: 1px solid #fff;
    color: #000000;
    border-top: 1px solid transparent; }
  #vendedorTabla tr:hover td {
    background: #d0dafd;
    color: #339; }