/*
 Crea una aplicación web que permita hacer listado, alta, baja y modificación sobre la tabla cliente
de la base de datos banco.
• Para realizar el listado bastará un SELECT, tal y como se ha visto en los ejemplos.
• El alta se realizará mediante un formulario donde se especificarán todos los campos del nuevo
registro. Luego esos datos se enviarán a una página que ejecutará INSERT.
• Para realizar una baja, se mostrará un botón que ejecutará DELETE.
• La modificación se realiza mediante UPDATE.
*/
/* 
    Created on : 03-nov-2016, 21:36:30
    Author     : Junior Castillo
*/

body {
  background-image: url(http://www.jonaga.com/imagenes/fondo%20pagina%20fijo.jpg);
  /*background-color: #125598;*/
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
h1{
  color: aliceblue;
}

table {
    margin-left: 150px;
    font-size: 12px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}
#vendedorTabla {
    margin-left: 444px;
    font-size: 12px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}
th {
    font-size: 13px;
    font-weight: normal;
    padding: 5px 5px 5px 5px;
    height: 50px;
    background: #cacaca;
    border-top: 4px solid #cacaca;
    border-bottom: 1px solid #fff;
    color: rgb(0, 0, 0);
}

td {
   padding: 10px 5px 10px 5px;
    height: 50px;
    background: #807373;
    border-bottom: 1px solid #fff;
    color: #000000;
    border-top: 1px solid transparent;
}
tr:hover td { background: #d0dafd; 
              color: #339; 
}
a:link, a:visited {
    background-color: #cacaca;
    font-weight:bold;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
