/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-dic-2016, 10:50:10
    Author     : Junior Castillo
*/
@import "bourbon/addons/_clearfix.scss"; 

* {
 @include clearfix;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
  }
}

html {
  font-family: Helvetica, arial, sans-serif;
  font-size: 12px;
}

body {
  background: url('brushed_alu.png');
}

.limpiador {
  &:before {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: auto;
  background: black;
}

.header-left, .header-right {
  position: relative;
  color: white;
  float: left;
}

.header-left {
  width: 30%;
}

.header-right {
  label {
    position: absolute;
    top: -3.7em;
    right: 0;
    cursor: pointer;
  }
  span {
    position: relative;
    width: 2em;
    height: 2em;
    background: rgba(255, 255, 255, 0.3);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    &:hover {
      background: rgba(255, 255, 255, 0.6);
    }
    &:before {
      content: '';
      position: absolute;
      width: 2em;
      height: .5em;
      top: 4px;
      left: 0;
      background: black;
    }
    &:after {
      content: '';
      position: absolute;
      width: 2em;
      height: .5em;
      top: 4px;
      left: 0;
      background: black;
      top: 14px;
    }
  }
  width: 70%;
  text-align: right;
}

#open {
  display: none;
}

h1 {
  font-weight: 300;
  line-height: 40px;
  &#pagTitulo {
    color: #F6ECF5;
    text-shadow: 1px 1px 0px rgb(230, 230, 230), 2px 2px 0px rgb(200, 200, 200);
  }
}

a {
  text-decoration: none;
  color: white;
}

nav > a {
  position: relative;
  display: inline-block;
  font-size: 100%;
  line-height: 40px;
  padding: 0 2em;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  &:hover {
    background: rgba(255, 255, 255, 0.9);
    color: black;
  }
}

.spanMenu {
  display: none;
}

section {
  width: 100%;
  height: auto;
  background-image: -o-linear-gradient(#36a6ff 0%, #0e0a10 100%);
  background-image: -webkit-linear-gradient(#36a6ff 0%, #0e0a10 100%);
  background-image: linear-gradient(#36a6ff 0%, #0e0a10 100%);
}

.section-left, .section-right {
  float: left;
}

.section-left {
  width: 70%;
  padding: 3em 0;
}

.section-right {
  width: 30%;
}

.section-title, .section-tagline {
  color: white;
  font-weight: 300;
  margin: 0;
  padding: 0;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.section-title {
  font-size: 4em;
  margin-bottom: .3em;
  -webkit-text-shadow: 0 3px 0px black, 0 4px 0px rgba(150, 150, 150, 0.5);
  -moz-text-shadow: 0 3px 0px black, 0 4px 0px rgba(150, 150, 150, 0.5);
}

.section-tagline {
  font-size: 1em;
}

.learn-more {
  display: table;
  margin: 3em auto 0;
  padding: 1em 6em;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.8);
  -ms-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.8);
  background: #EAAF00;
  font-size: 1.2em;
  &:hover {
    background: #EAAF00;
    background: -webkit-radial-gradient(ellipse cover, red, #f80, #ffc);
    background: -ms-radial-gradient(ellipse cover, red, #f80, #ffc);
    background: -o-radial-gradient(ellipse cover, red, #f80, #ffc);
  }
  &:active {
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.8);
    padding: 2em 7em;
    -webkit-transition: padding 5s ease;
  }
}